body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1, h2 {
    text-align: center;
}
.slider-container {
    width: 80%;
    margin: 20px auto;
}
.slider-container input[type="range"] {
    width: 100%;
}
.output {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
}
.chat-list {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.chat-item {
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.chat-item:last-child {
    border-bottom: none;
}
.tip {
    text-align: center;
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
}
.lang-switcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.lang-switcher img {
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
    height: 20px;
}
#title {
    text-transform: uppercase;
}

.chat-item > a {
    text-decoration: none;
    color: #3172b8;
}

.chat-item > a:hover {
    color: #0080ff;
}

#discount-tip {
    color: darkgreen;
    font-weight: bold;
    font-size: 18px;
}

#audience-count, #total-price, #selected-chats {
    font-weight: bold;
}

#label-range {
    font-size: 18px;
}
.slider-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

#duration-range {
    width: 100%;
    margin-top: 10px;
}

#output-duration {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
}
#label-duration {
    margin-top: 1.5rem;
}

#selected-duration {
    font-weight: bold;
}